{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add Comment - BlogHub{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0"><i class="fas fa-comment"></i> Add Comment to Post</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-info">
                        <strong>Post:</strong> <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </div>
                    
                    <form method="POST" class="form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                                <i class="fas fa-check"></i> Post Comment
                            </button>
                            <a href="{{ post.get_absolute_url }}" class="btn btn-secondary btn-lg btn-block mt-2">
                                <i class="fas fa-arrow-left"></i> Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
